manifest {
    author          = "Christian Schudoma, Daniel Podlesny"
    defaultBranch   = "main"
    description     = "Metagenomics trait prediction"
    name            = "porTraits"
    nextflowVersion = ">=24"
    version         = "0.1.14"
}

process {
    executor = 'slurm'
    withName: recognise_genome {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy" , pattern: "**.txt" ]
        container  = "ghcr.io/grp-bork/recognise:main"
        label      = "small"
        cpus       = 8
        memory     = { 16.GB * task.attempt }
        time       = { 1.day * task.attempt }
    }

    withName: gtdbtk_classify {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy" ]
        container  = "quay.io/biocontainers/gtdbtk:2.4.1--pyhdfd78af_1"
        label      = "highmemLarge"
        cpus       = 24
        memory     = { 64.GB * task.attempt }
        time       = { 4.days * task.attempt }
    }

    withName: genomespot {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy", pattern: "**.predictions.tsv" ]
        container  = "ghcr.io/cschu/genomespot:main"
        label      = "small"
        memory     = { 4.GB * task.attempt }
        time       = { 1.day * task.attempt }
    }

    withName: eggnog_mapper {
        container  = "quay.io/biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_2"
        label      = "highmemLarge"
        cpus       = 16
        memory     = { 64.GB * task.attempt }
        time       = { 1.day * task.attempt }
    }

    withName: emapper2matrix {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy", pattern: "**/emapper.{KEGG_ko,PFAMs}.tsv.gz" ]
        container  = "registry.git.embl.org/schudoma/portrait_sklearn:v1.2.2_micropherret"
        label      = "tiny"
        memory     = { 4.GB * task.attempt }
        time       = { 30.min * task.attempt }
    }

    withName: micropherret {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy", pattern: "**/MICROPHERRET.{binary,prob}.tsv.gz" ]
        container  = "registry.git.embl.org/schudoma/portrait_sklearn:v1.2.2_micropherret"
        label      = "tiny"
        memory     = { 6.GB * task.attempt }
        time       = { 4.h * task.attempt }
    }

    withName: bacdive_ai {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy", pattern: "**/BacDiveAI.{binary,prob}.tsv.gz" ]
        container  = "registry.git.embl.org/schudoma/portrait_sklearn:v.1.4.0_traitar_bacdive"
        label      = "tiny"
        memory     = { 6.GB * task.attempt }
        time       = { 4.h * task.attempt }
    }

    withName: traitar {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy"]
        container  = "registry.git.embl.org/schudoma/portrait_sklearn:v.1.4.0_traitar_bacdive"
        label      = "tiny"
        memory     = { 6.GB * task.attempt }
        time       = { 4.h * task.attempt }
    }

    withName: metatraits_speci_call {
        publishDir = [ path: { "${params.output_dir}" }, mode: "copy" ]
        container  = "registry.git.embl.org/schudoma/portraits_metatraits:latest"
        label      = "small"
    }
}

params {
    output_dir             = null
    input_dir              = null
    eggnog_db              = null
    recognise_marker_genes = null
    gtdbtk_data            = null
    metatraits_models      = null

    pfam_clade_map         = "${eggnog_db}/pfam/Pfam-A.clans.tsv.gz"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$PWD/.singularity/cache"  // Customize this path
}

docker {
    enabled = false
}

env {
    GTDBTK_DATA_PATH = params.gtdbtk_data
}

executor {
    name = 'slurm'
    queueSize = 50
    submitRateLimit = '10 sec'
}
